<section class="container p-2" *ngIf="slug">
	<article class="flex flex-col flex-wrap items-start bg-white rounded-md format lg:format-lg dark:format-invert max-w-max">
		<img [src]="entrada?.cover_image" alt="cover_image" class="w-full rounded-t-md" />
		<header class="pt-4 px-8 sm:px-10">
			<h2 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">
				{{ entrada?.title }}
			</h2>
			@for (tag of entrada?.hashtag; track tag) {
				<span class="inline mx-1 py-1 px-2 rounded bg-indigo-50 text-indigo-500 text-xs font-medium tracking-widest">
					{{ tag }}
				</span>
			}
		</header>
		<div class="px-8 sm:px-10 w-full" [innerHTML]="sanitizarHTML(entrada?.content??'')"></div>
	</article>
</section>

<section class="container p-2" *ngIf="!slug">
	@for (entried of entradasMismoTipo; track $index) {
	<div class="px-2 flex flex-wrap">
		<article class="flex flex-col items-start bg-white rounded-md article-container">
			<img [src]="entried.cover_image" alt="cover-image" class="w-full rounded-t-md cover-image" />
			<div class="px-1">
			@for (tag of entried.hashtag; track tag) {
				<span class="inline mx-1 py-1 px-2 rounded bg-indigo-50 text-indigo-500 text-xs font-medium tracking-widest">
					{{ getNombreHashtag(+tag) }}
				</span>
			}
			</div>
			<header class="px-6 py-4">
				<a class="inline-flex items-center">
					<img alt="blog" [src]="entried.avatar"
						class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
					<span class="flex-grow flex flex-col pl-4">
						<span class="title-font font-medium text-gray-900">{{ entried.name }}</span>
						<span class="text-gray-400 text-xs tracking-widest mt-0.5">{{ entried.occupation }}</span>
					</span>
				</a>
				<h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-2 mb-4">
					{{ entried.title }}
				</h2>
				<p class="leading-relaxed mb-2">{{ entried.description }}</p>
			</header>
			<footer class="flex items-center flex-wrap justify-between p-6 mb-4 border-t-2 border-gray-100 mt-auto w-full">
				<a (click)="irEntrada(entried.slug, $event)" href="" class="text-indigo-500 inline-flex items-center">Leer más
					<svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none"
						stroke-linecap="round" stroke-linejoin="round">
						<path d="M5 12h14"></path>
						<path d="M12 5l7 7-7 7"></path>
					</svg>
				</a>
				<span class="text-gray-400 inline-flex items-center leading-none text-sm">
					<svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
						stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
						<path
							d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
						</path>
					</svg>{{ 0 }}
				</span>
			</footer>
		</article>
	</div>
	}
</section>